
/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, arial;
}

img {
  width: 100%;
}

nav {
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif, arial;
  padding: 20px 0;
  /* margin: 0 0 10px 10px; */
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* Navigation Container */
a {
  padding: 0px 10px 10px 0px;
  font-size: 18px;
  color: #dc3545;
  word-wrap: break-word;
  text-decoration: none;
}

nav a:hover {
  color: #f0e8e6;
}

img.rounded {
  border-radius: 8px;
}

img.buffer {
  margin: 0px;
}

main h1 {
  font-size: 48px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400;
}

main h2 {
  font-size: 38px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400;
}

p {
 font-family: 'Open Sans', arial, sans-serif;
 font-size: 18px;
 line-height: 1.5em;
 margin-bottom: 0em;
 margin-top: 0;
}

/* Header */

header {
  font-family: 'Open Sans', arial, sans-serif;
  background-color: lightgray;
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
  width: 37%;
  margin: 0 auto;
  height: 30vh;
  display: -webkit-flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
header h1, header h2{
  /* color: #eff0e5; */
  text-align: center;
  margin: 4px;
  padding: 20px 0;
  /* font-family: 'FF Din', dax, optima; */
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
}

.fullscreen-header {
  display: flex;
  flex-direction: column;
}

/* Container holding the image and the text */
.container {
  background-color: lightgray;
  position: relative;
  text-align: center;
  /* color: white; */
}

.container a:hover {
  color: #000000;
}

.nav-container {
  background-color: lightgray;
  position: relative;
  text-align: center;
  /* color: white; */
}

.nav-container a:hover {
  color: #ffffff;
}

.fullscreen {
  height: 40vh;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullscreen-header {
  display: flex;
  flex-direction: column;
}

.fullscreen-header p, .fullscreen-header h1, .fullscreen-header h2 {
  margin: 0;
}

.fullscreen-header p {
  padding-bottom: 10px;
}

.fullscreen-header h1 {
  padding-bottom: 10px;
}

.fullscreen-header h2 {
  padding-bottom: 50px;
}

.resume {
  text-decoration: none;
  background-color: #332E3C;
  width: max-content;
  padding: 1em 2em;
  color: #EFF2EF;
  border: none;
  transition: all 500ms ease-in-out;
}

.resume:hover, .resume:focus {
  cursor: pointer;
  background: linear-gradient(90deg, #332E3C, #3587A4);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Desktop Responsive */
@media all and (min-width: 700px) {
  .fullscreen-header h2 {
    padding-bottom: 50px;
  }
}

.header-rows {
  padding-top: 20px;
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
  /* text-align: center; */
}

/* Centered H1 text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Centered H2 text */
.centered-buff {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
  text-align: center;
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
}

.portfolio-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
  /* text-align: center; */
}
@media (max-width: 600px) { 
  .portfolio-container, .grid
  { 
    grid-template-columns: repeat(1,1fr); 
    
    /* grid-template-rows: repeat(1,1fr);  */
  } 
  .footer {
    display: block !important;
    text-align: center;
  }
}



.project-title {
  font-weight: 300;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 2px solid black;
  /* font-size: 28px;
  align-self: center; */
}

.project-tech {
  font-style: italic;
  font-weight: 300;
}

.single-project ul li{
  line-height: 1.75;
}

.title-link {
  color: #000;
  text-decoration: none;
}

.title-link:hover, .title-link:focus {
  cursor: pointer;
  text-decoration: underline;
  color: #3587A4;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.skill-icon {
  font-size: 45px;
  text-align: center;
}

.svg-inline--fa {
  display: inline-block;
  /* font-size: inherit; */
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.grow {
    width: 50px;
}

/*  Main */

main  .wrapper  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 24px;
  color: black;
}

/* Groups & Items  (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

/* @media all and (max-width: 800px) {
.item {
  flex: 1;
  height: auto !important;
  border: 10px red !important;
  margin: 10px;
}
} */

@media all and (max-width: 800px) { 
  .item {
    /* flex: 1; */
    /* height: auto !important; */
    height: auto;
    border: 10px red !important;
    margin: 0px;
    /* margin: 10px; */
  }
}

.item {
  flex: 1;
  margin: 10px;
}

/* .mockup {
  background-color: salmon;
  
} */

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* ARTICLE SECTIONS */

#home, #portfolio, #contact {
  margin-bottom: 120px;
  margin: 0;
}

/* ABOUT ARTICLE */

#about {
  background-color: lightgray;
  padding: 20px 0 30px 0;
  margin: 40px 0;
}

/* SKILLS ARTICLE */

#skills {
  background-color: lightgray;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* HIRE ARTICLE */

#hire {
  background-color: black;
  color: white;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* Contact Form Design */

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

/* Footer */

.footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #332E3C;
}

.footer-icon {
  font-size: 30px;
  padding-right: 20px;
  color: #332E3C;
  cursor: pointer;
}

.footer-icon:last-child {
  padding-right: 0;
}

.footer-icon:hover, .footer-icon:focus {
  color: #3587A4;
}

.social-links {
  padding: 10px;
}

a.social-links:hover {
  color:rgb(0, 0, 0)
}