
/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, arial;
}

img {
  width: 100%;
}

nav {
  font-size: 18px;
  background-color: #333;
  font-family: 'Open Sans', sans-serif, arial;
  padding: 20px 0;
  /* margin: 0 0 10px 10px; */
}

/* Navigation Container */
a {
  padding: 0px 10px 10px 0px;
  font-size: 18px;
  color: #dc3545;
  word-wrap: break-word;
  text-decoration: none;
}

nav a:hover {
  color: #f0e8e6;
}

img.rounded {
  border-radius: 8px;
}

img.buffer {
  margin: 0px;
}

main h2 {
  font-size: 38px;
  font-family: 'Open Sans', sans-serif, arial;
  font-weight: 400;
}

main h3 {
  font-size: 28px;
  font-family: 'Open Sans', sans-serif, arial;
  font-weight: 400;
}

p {
 font-family: 'Open Sans', sans-serif, arial;
 font-size: 18px;
 line-height: 1.5em;
 margin-bottom: 0em;
}

/* Header */

header {
  background-color: black;
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
header h1, header h2{
  color: #eff0e5;
  text-align: center;
  margin: 4px;
  padding: 20px 0;
  font-family: 'FF Din', dax, optima;
  font-size: 20px;
}
}

/* Container holding the image and the text */
.container {
  background-color: black;
  position: relative;
  text-align: center;
  color: white;
}

/* Centered H1 text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Centered H2 text */
.centered-buff {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
  text-align: center;
}

.portfolio-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
  text-align: center;
}
@media screen and (max-width: 600px) { .portfolio-container { grid-template-columns: repeat (1,1fr); grid-template-rows: repeat(1,1fr); } }

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.skill-icon {
  font-size: 50px;
  text-align: center;
}

.svg-inline--fa {
  display: inline-block;
  /* font-size: inherit; */
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.grow {
    width: 50px;
}

/*  Main */

main  .wrapper  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 24px;
  color: black;
}

/* Groups & Items  (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* ARTICLE SECTIONS */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* ABOUT ARTICLE */

#about {
  background-color: lightgray;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* SKILLS ARTICLE */

#skills {
  background-color: lightgray;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* HIRE ARTICLE */

#hire {
  background-color: black;
  color: white;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* Contact Form Design */

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}